body {
    margin: 0;
}
ul {
    list-style: 0;
    padding: 0;
    margin: 0;
}
.accordion__list {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    max-width: 600px;
    padding: 20px;
}
.accordion__item {
    cursor: pointer;
}
.accordion__top {
    display: flex;
    justify-content: space-between;

    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding-top: 20px;
    padding-bottom: 20px;

    margin-top: -1px;
    transition: border-color .2s ease-in-out;
}
.accordion__btn {
    cursor: pointer;
    border-radius: 100%;
    max-width: 50px;
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: 1px solid grey;

    font-style: 40px;
    transition-property: transform;
    transition: .2s ease-in-out;
}
.accordion__top h3 {
    transition: color .2s ease-in-out;
}
.accordion__item:active .accordion__btn {
    transform: rotate(45deg);
}
.accordion__top:hover, .accordion__top:focus-within {
    border-color: orange;
    position: relative;
    z-index: 1;
}
.accordion__top:hover .accordion__btn,
.accordion__top:focus-within .accordion__btn {
    background-color: orange;
    border-color: orange;
    color: #fff;
    outline: none;
}
.accordion__top:hover h3,
.accordion__top:focus-within h3 {
    color: orange;
}
.accordion__top:focus-within {
    outline: 0;
}
.accordion__item.is-active .accordion__top {
    border-color: orange;
}
.accordion__item.is-active .accordion__btn {
    transform: rotate(45deg);
    background-color: orange;
    border-color: orange;
    color: #fff;
}
.accordion__item.is-active .accordion__top h3 {
    color: orange;
}
.accordion__item.is-active .accordion__top + .accordion__bottom {
    border-bottom: 1px solid orange;
    position: relative;
    z-index: 2;
}
.accordion__item.ac {
    margin: 0;
    border: none;
  }
.accordion__bottom {
    line-height: 2;
}